body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-color:#f6f4f2;
    padding: 20px;
    box-sizing: border-box;
}
p
{
    margin: 0;
}
button
{
    margin: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .075);
}
.card
{
    max-width: 1000px;
    width: 100%;
}
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}
.search
{
    width: 60%;
}
.search-bar
{
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 20px;
    background-color:white;
    color: black;
    font-family: inherit;
    font-size: 95%;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .075);
}
.title
{
    font-size: 20px;
    font-weight: 200;
}
.icon
{
    height: 150px;
    width: 150px;
}
.watch
{
    color: #fbbf77;
    font-weight: 400;
}
.current
{
    display: flex;
    width: 100%;
    text-align: center;
}
.current-inner
{
    margin: 10px;
    width: 50%;
}
.current-weather
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    color: #141414;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .075);
    width: 50%;
    margin: 10px;
    box-sizing: border-box;
}
.current-info
{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    column-gap: 20px;
}
.wind, .humidity
{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.wind-image, .humidity-image
{
    height: 100px;
    width: 100px;
}
.info
{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    color: #141414;
    font-size: 25px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .075);
    text-align: center;
    width: 50%;
}
.info-continued
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .075);
    font-weight: 200;
    padding: 20px;
}
.hi-image, .lo-image
{
    width: 150px;
    height: 150px;
}
.city
{
    font-size: 58px;
    font-weight: 200;
    color: #141414;
    margin: 0;
}
.main-temp
{
    font-size: 116px;
    font-weight: 300;
    color: #141414;
    margin: 0;
    line-height: 120px;
}
.description
{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.temp
{
    font-size: 40px;
    font-weight: 200;
    margin: 0;
}
.weather-forecast
{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#today
{
    background-color: #393D47;
    color: white;
}
.day-box
{
    background-color: white;
    color: #141414;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .075);
    width: 18%;
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
    box-sizing: border-box;
}
.day-box:hover
{
    background-color: rgba(255, 255, 255, .60);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
@media(orientation: portrait)
{
    .header
    {
        flex-direction: column-reverse;
        margin: 0;
    }
    .search
    {
        width: 100%;
    }
    button
    {
        margin: 0 0 0 10px;
    }
    .search-bar
    {
        width: calc(100% - 89px);
        margin-top: 20px;
    }
    .current-weather
    {
        margin-left: 0;
        width: 100%;
    }
    .current
    {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }
    .current-inner
    {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .current-info
    {
        width: 100%;
    }
    .info
    {
        width: 100%;
    }
    .weather-forecast
    {
        flex-direction: column;
        margin-top: 20px;
    }
    .day-box
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .img
    {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
    }
}